/* src/components/MealButton.css */
.meal-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    background-color: var(--color-card-bg);
    cursor: pointer;
  }
  .meal-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-white);
  }
  .meal-icon {
    font-size: 1.5rem;
  }
  .add-icon {
    font-size: 1.5rem;
    color: var(--color-primary-orange);
  }
  